html {
    height: 100%;
    width: 100%;
    font-size: 16px;
  }
  
  :root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
  
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  body {
    background-image: url("spiral-landing-back-2.png");
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-size: cover; /* Make the image cover the entire viewport */
    background-position: center; /* Center the image */
  }
  
  h1 {
    text-align: center; /* Center the header text */
    margin-top: 20px; /* Add some space between the logo and header */
    font-size: 5.5rem; /* Adjust the font size as needed */
  }
  
  h2 {
    text-align: center; /* Center the header text */
    margin-top: 50px; /* Add some space between the logo and header */
    font-size: 2.25rem; /* Adjust the font size as needed */
    margin-bottom: 5px;
  }
  
  p {
    text-align: center; /* Center the header text */
    margin-top: 0px; /* Add some space between the logo and header */
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: 300;
    line-height: 1.8;
  }
  
  img {
    display: block; /* Ensures the image is treated as a block element */
    margin: 30px auto; /* Centers the image horizontally */
    max-width: 70%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
  }
  
  #logo {
    width: 15vh; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto; /* Center horizontally and add top/bottom margin */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 70%;
    margin: 0 auto;
  }
  button {
    padding: 15px 20px;
    background-color: #056a46; /* Green color */
    color: white; /* White text */
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px; /* Pill shape */
    cursor: pointer;
    margin: 5px;
    width: 20%;
    height: 20%;
  }
  
  .testimonies {
    display: flex; /* Use flexbox for layout */
    justify-content: space-around; /* Distribute boxes evenly */
    margin-top: 50px; /* Add spacing */
  }
  .testimony-box {
    width: 30%; /* Set width of each box */
    padding: 5%;
    border-radius: 30px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #e3f2e9; /* Light background */
    color: #000000;
  }
  .testimony-box h2 {
    margin-bottom: 10px;
    font-size: 3.75rem;
    font-weight: 500;
    color: #000000;
  }
  
  .popup {
    display: none; /* Initially hide the popup */
    position: fixed; /* Fixed positioning for overlay effect */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the popup */
    width: 80%; /* Adjust width as needed */
    max-width: 500px; /* Set a maximum width */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Ensure the popup is on top */
  }
  .popup-content {
    /* Style the content within the popup */
  }
  #close-popup {
    /* Style the close button */
  }
  
  #green {
    color: #056a46;
  }
  
  #carousel {
    margin: 20px auto;
  }
  
  #testimony-header {
    margin-top: 50px;
  }